<div id="leftMenu">
  <!-- <button mat-button [matMenuTriggerFor]="animals">Sort Pricing</button>
  <mat-menu #animals="matMenu">
    <button mat-menu-item>High to Low</button>
    <button mat-menu-item>Low to High</button>
  </mat-menu> -->
  <button mat-button (click)="lowToHigh()" *ngIf = "onHomePage">Low to High</button>
  <button mat-button (click)="highToLow()" *ngIf = "onHomePage">High to Low</button>
</div>

<img id="logo" (click)="homeClick()" routerLink="/home" src="../../../assets/images/Logo.png" alt="Anglo">
<div id="rightMenu">
  <button mat-button (click) = "agentsBtnClick()" id = "agentButton">Agents</button>
  <button mat-button (click)="createProperty()" id = "agentCreateProperty" *ngIf="agentService.loggedInAgent!==undefined">Create Property</button>
  <button mat-button (click)="logoutClick()" id = "logoutButton" *ngIf="agentService.loggedInAgent!==undefined">Logout</button>
  <button mat-button (click)="loginPopup()" id = "agentLoginButton" *ngIf="agentService.loggedInAgent===undefined">Login</button>
</div>

<div class="backTransparent" *ngIf="agentService.LoginContainerBackTransparent"></div>
<div id="LoginContainer" *ngIf="agentService.LoginContainer">
  <mat-icon id="loginCancelIcon" matSuffix (click)="loginPopupClose()">cancel</mat-icon>
  <app-login></app-login>
</div>

<div class="backTransparent" *ngIf="agentService.createPropertyContainerBlackTransparent"></div>
<div id="createPropertyContainer" *ngIf="agentService.createPropertyContainer">
  <mat-icon id="createPropertyCancelIcon" matSuffix (click)="createPropertyClose()">cancel</mat-icon>
  <app-property-create></app-property-create>
</div>