<mat-card id = "propertyCard">
    <div *ngIf="agentService.loggedInAgent" id="deletePropertyIcon" (click)="deletePropertyClick(propertyCard.pid)">
        <mat-icon matSuffix>cancel</mat-icon>
    </div>

    <div id="cardContainer" routerLink="/displayproperty/{{propertyCard.pid}}">
        <img mat-card-image src="../../../assets/images/property_card.jpg" alt="{{propertyCard.propertyType.description}}">
        <mat-card-content>
            <mat-card-subtitle id = "priceText">
                {{propertyCard.location}}
            </mat-card-subtitle>
            <mat-card-subtitle id ="squarefeetText">
                {{propertyCard.price | currency}}
            </mat-card-subtitle>
            <mat-card-subtitle id = "addressText">
                {{propertyCard.square_feet}}

            <!-- {{property.price}}
            </mat-card-subtitle>
            <mat-card-subtitle id ="squarefeetText">
                {{property.price | currency}}
            </mat-card-subtitle>
            <mat-card-subtitle id = "addressText">
                {{property.address}} -->
            
            </mat-card-subtitle>
        </mat-card-content>
    </div>
</mat-card>