
<app-menu></app-menu>
<app-banner></app-banner>
<div id = "propertyCards">

  <!-- <app-property-display></app-property-display>
  <app-property-display></app-property-display>
  <app-property-display></app-property-display>
  <app-property-display></app-property-display>
  <app-property-display></app-property-display>
  <app-property-display></app-property-display>
  <app-property-display></app-property-display>   -->


  <div *ngIf = "!this.propServ.isSearching">
    <!-- getting all of the properties from the typescript file in this component
    inputing property model information into new card and repeats till all cards are made  -->
    <app-property-card *ngFor = "let p of properties"  [property] ="p"></app-property-card> 
  </div>
  <div *ngIf = "this.propServ.isSearching">
    <app-property-card [property] = "property"></app-property-card> 
  </div>

</div>