
<app-menu></app-menu>
<app-banner></app-banner>
<div id = "propertyCards">

  <!-- <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>
  <app-property-display-homepage></app-property-display-homepage>   -->


  <div *ngIf = "!this.propServ.isSearching">
    <p>Is not searching</p>
    <!-- getting all of the properties from the typescript file in this component
    inputing property model information into new card and repeats till all cards are made  -->
    <app-property-display-homepage *ngFor = "let p of properties"  [property] ="p"></app-property-display-homepage> 
  </div>

  <div *ngIf = "this.propServ.isSearching">
    <p>Is searching</p>
    <app-property-display-homepage [property] = "property"></app-property-display-homepage> 
  </div>

</div>