
<app-menu></app-menu>
<div id="grid">
  <div id="carousel">
    <div id="ImgViewer">
        <img *ngFor="let imgSrc of image_url_array; let i = index" [src]="imgSrc" [ngClass]="{'widthFull': showPics[i], 'width0': !showPics[i]}" id="Img{{i}}" >
    </div>
    <div id="ImgThumbnail">
        <mat-icon (click)="decrementCurrentThumbnailIndex()">keyboard_arrow_left</mat-icon>
        <img  *ngFor="let imgSrc of image_url_array; let i = index" [src]="imgSrc" [ngClass]="{'SelectedThumb': showPics[i]}" id="Thmb{{i}}" (click)="thumbnailClick(i)">
        <mat-icon (click)="incrementCurrentThumbnailIndex()">keyboard_arrow_right</mat-icon>
    </div>
  </div>

  <div id="leftSide">
    <div id="UpdateForm" *ngIf="agentService.loggedInAgent!==undefined">
      <mat-card id="UpdatePropertyContainer">
            <mat-card-title>Update Property</mat-card-title>
            <mat-form-field>
                <mat-label>Price</mat-label>
                <input matInput type="number" placeholder="Price" id="PriceInput" required [(ngModel)] = "priceField">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Surface</mat-label>
                <input matInput type="number" placeholder="Surface" id="SurfaceInput" required [(ngModel)] = "squareFeetField">
                <mat-hint >Enter Surface in square feet</mat-hint>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Location" id="LocationInput" required [(ngModel)] = "addressField">
            </mat-form-field>
            <mat-form-field>
            <label>Property Type: </label>
              <input matInput type="text" value="{{propertyTypeFieldDescription}}" disabled>
            <!-- <mat-select id ="propertyTypeInput" (ngModelChange)="propertyTypeChange($event)" [(ngModel)] = "propertyTypeField">
                <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType"  [selected]="propertyType.ptid===property.propertyType.ptid"> 
                {{propertyType.description}}  {{propertyType.ptid===propertyTypeField.ptid}}
                </mat-option>
            </mat-select> -->
            </mat-form-field>
            <button mat-button color="accent" id = "agentPropertyUpdate" (click) = "updateProperty()">Update</button>
            <!-- {{property.propertyType.ptid}} -->
            <!-- <button mat-button color="accent">Cancel</button> -->
      </mat-card>
    </div>  


    <div id="mapSimple">
      <app-simple-map [address]="propertyAdress"></app-simple-map>
    </div>
  </div>
</div>








<!-- <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/1.jpg" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/2.jpg" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/3.jpg" alt="Angular Carousel 3">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../../assets/images/4.jpg" alt="Angular Carousel 4">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->